:root {
    --primary: #d7be8c;
    --secondary: #c8bb9f;
    --alternative: #13415b;
    --light: #ffffff;
    --medium: #f2f2f2;
    --dark: #333333;
    --text-color: #fff;
    --text-secondary: #000;
}